# Fichiers Jupyter Notebook temporaires
.ipynb_checkpoints/

# Données volumineuses
*.csv
*.xlsx
*.zip
*.tar.gz

# Fichiers générés automatiquement par Quarto ou d'autres outils
*.html
*.pdf
*.docx
*.log
*.aux
*.out
*.toc
*.gz
*.tex
project_Fredd_files/

# Environnements virtuels Python
env/
venv/

# Fichiers système (Windows/macOS)
.DS_Store
Thumbs.db

# Cache Python
__pycache__/
*.py[cod]

# Éditeurs
.vscode/
.Rproj.user/

# Autres fichiers de sortie volumineux
*.png
*.svg
*.jpeg